@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100vh;
        background: #000013;
    }

    #root {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}