@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100vh;
    }

    body {
        background-image: linear-gradient(102.32deg, #030422 -2.74%, #090114 101.6%);
    }

    #root {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}